<div class="row">
	<%= render partial: "pages/alerts" %>
</div>

<div class="row">
	<%= render partial: "pages/statuses" %>
</div>

<div class="row">
<%= render partial: "pages/servers" %>
	<%= render partial: "pages/users" %>
</div>

<div class="row">
	<%= render partial: "pages/extras" %>
	<%= render partial: "pages/weather" %>
</div>