<div id="page-wrapper" class="active">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li id="toggle-sidebar" class="sidebar-main">
        <a href="#">
          Dashboard
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list">
        <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#">Servers <span class="menu-icon fa fa-tasks"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#">Settings <span class="menu-icon fa fa-cogs"></span></a>
      </li>
      <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
      <li class="sidebar-list">
        <a href="#" target="_blank">Forums <span class="menu-icon fa fa-external-link"></span></a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
          Github
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" target="_blank">
          About
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#">
          Support
        </a>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->
  <div id="content-wrapper">
    <div class="page-content">
      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="meta pull-left">
            <div class="page">
              Dashboard
            </div>
            <div class="breadcrumb-links">
              Home / Dashboard
            </div>
          </div>
          <% if session[:user_id] %>
            <%= render partial: "pages/user_info" %>
          <% else %>
            <div class="meta pull-right">
              <div class="login" data-toggle="modal" data-target="#loginModal">Login</div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- End Header Bar -->
      <!-- Main Content -->
      <% if session[:user_id] %>
        <%= render partial: "pages/rows" %>
      <% end %>
      <!-- End Main Content -->
    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
          <%= form_tag do %>
            <%= text_field_tag(:username, nil, placeholder: "E-mail") %>
            <%= password_field_tag(:password, nil, placeholder: "Password") %>
            <%= submit_tag("Login") %>
          <% end %>
          <div class="error">
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- End Page Wrapper -->