<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>User Dashboard</title>

  <%= stylesheet_link_tag "application" %>  

  <!-- build:less lib/bootstrap/css/bootstrap.css -->
  <%= stylesheet_link_tag "bower_components/bootstrap/dist/css/bootstrap" %>  
  <!-- endbuild -->

  <!-- build:css lib/font-awesome/css/font-awesome.css -->
  <%= stylesheet_link_tag "bower_components/font-awesome/css/font-awesome" %>  
  <!-- endbuild -->

  <!-- build:less css/dashboard/dashboard.css -->
  <%= stylesheet_link_tag "dashboard" %>  
  <!-- endbuild -->

  <!-- SCRIPTS -->
  <!-- build:js lib/jquery/jquery.js -->
  <%= javascript_include_tag "bower_components/jquery/dist/jquery" %>
  <!-- endbuild -->
  <!-- build:js lib/bootstrap/dist/js/bootstrap.js -->
  <%= javascript_include_tag "bower_components/bootstrap/dist/js/bootstrap" %>
  <!-- endbuild -->
  <!-- build:js lib/jquery.cookie/jquery.cookie.js -->
  <%= javascript_include_tag "bower_components/jquery.cookie/jquery.cookie" %>
  <!-- endbuild -->

  <!-- build:js js/dashboard.js -->
  <%= javascript_include_tag "dashboard/app" %>
  <!-- endbuild -->
  <!-- SCRIPTS -->

</head>
<body>

  <%= yield %>

</body>
</html>
