<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Dashboard</title>

  <!-- build:less lib/bootstrap/css/bootstrap.css -->
  <%= stylesheet_link_tag "bower_components/bootstrap/dist/css/bootstrap"%>  
  <!-- endbuild -->

  <!-- build:css lib/font-awesome/css/font-awesome.css -->
  <%= stylesheet_link_tag "bower_components/font-awesome/css/font-awesome"%>  
  <!-- endbuild -->

  <!-- build:less css/dashboard/dashboard.css -->
  <%= stylesheet_link_tag "dashboard"%>  
  <!-- endbuild -->

  <!-- SCRIPTS -->
  <!-- build:js lib/angular/angular.js -->
  <%= javascript_include_tag "bower_components/angular/angular" %>
  <!-- endbuild -->
  <!-- build:js lib/angular-cookies/angular-cookies.js -->
  <%= javascript_include_tag "bower_components/angular-cookies/angular-cookies" %>
  <!-- endbuild -->
  <!-- build:js lib/angular-bootstrap/ui-bootstrap.js -->
  <%= javascript_include_tag "bower_components/angular-bootstrap/ui-bootstrap" %>
  <!-- endbuild -->
  <!-- build:js lib/angular-bootstrap/ui-bootstrap-tpls.js -->
  <%= javascript_include_tag "bower_components/angular-bootstrap/ui-bootstrap-tpls" %>
  <!-- endbuild -->
  <!-- build:js lib/angular-ui-router/angular-ui-router.js -->
  <%= javascript_include_tag "bower_components/angular-ui-router/release/angular-ui-router" %>
  <!-- endbuild -->

  <!-- build:js js/dashboard.js -->
  <%= javascript_include_tag "dashboard/module" %>
  <%= javascript_include_tag "dashboard/routes" %>
  <%= javascript_include_tag "dashboard/controllers/master-ctrl" %>
  <%= javascript_include_tag "dashboard/controllers/alerts-ctrl" %>
  <%= javascript_include_tag "dashboard/directives/loading" %>
  <!-- endbuild -->
  <!-- SCRIPTS -->

</head>

<%= yield %>

</html>
